html{
  background-color: black;
}
li{
  background-color: orange;
  font-size: 30px;
  color: black;
  padding: 50px
}
h1{
  color: red;
  font-size: 60px;
  text-align: center;

}
p{
  color: red;
  font-size: 30px;
}
img{
  font-size: 80px
}
